{% load i18n %}{% autoescape off %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{% blocktrans with site_name=current_site.name %}Restablecimiento de Contraseña en {{ site_name }}{% endblocktrans %}</title>
</head>
<body>
    <p>{% blocktrans with site_name=current_site.name site_domain=current_site.domain %}Hola desde {{ site_name }},{% endblocktrans %}</p>

    <p>{% trans "Recibes este correo electrónico porque solicitaste restablecer la contraseña de tu cuenta en" %} {{ current_site.domain }}.</p>

    <p>{% trans "Por favor, ve a la siguiente página y elige una nueva contraseña:" %}</p>
    <p><a href="{{ password_reset_url }}">{{ password_reset_url }}</a></p>

    <p>{% trans "Tu nombre de usuario, en caso de que lo hayas olvidado:" %} <strong>{{ user.get_username }}</strong></p>

    <p>{% trans "¡Gracias por usar nuestro sitio!" %}</p>

    <p>{% blocktrans with site_name=current_site.name %}El equipo de {{ site_name }}{% endblocktrans %}</p>
</body>
</html>
{% endautoescape %}